configuration {
	modi: "drun,run,filebrowser";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  Window";
    display-filebrowser: " 󰝰  Filebrowser";
    sidebar-mode: true;
}

@theme "~/.config/rofi/oldworld.rasi"
