window {
    margin: 0px;
    border: 2px solid #3b3b3e;
    border-radius: 15px;
    background-color: #161617;
}

#input {
    margin: 5px;
    border: none;
    color: #c9c7cd;
    background-color: #2a2a2c;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #161617;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #161617;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #c9c7cd;
}

#entry.activatable #text {
    color: #282a36;
}

#entry>* {
    color: #c9c7cd;
}

#entry:selected {
    background-color: #2a2a2c;
}

#entry:selected #text {
    font-weight: bold;
}
